Z Rmin Rmax Ngrid version sigma
_Z_ _Rmin_ _Rmax_ _Ngrid_ 1 _sigma_
xc_id(libxc_id or -1(LDA) -2(PBE))  weigth number_of_parameters
_f1_ _f1w_ _f1par_
_f2_ _f2w_ 0
_f3_ _f3w_ 0
Non-local exchange:
_hyboverride_         (true to override hybrid libxc functional parameters)
_HFw_            (HF weigth)
_HFsrw_ _HFsrp_     (SR HF weigth and parameter)
Grid 0-equidistant 3-cubic 5-fifth order
_grid_
Relativity(0-false, 1-nZORA, 2-ZORA)
_rel_
Spin polarised:
.true.
