Z Rmin Rmax Ngrid version
6d0 1d-5 30d0 400 1
xc_id(libxc_id or -1(LDA) -2(PBE))  weigth number_of_parameters
0 0d0 0
0 0d0 0
0 0d0 0
Non-local exchange:
.true.         (true to override hybrid libxc functional parameters)
1d0            (HF weigth)
0d0 0.11d0     (SR HF weigth and parameter)
Grid 0-equidistant 1-cubic 2-exponential 3-advanced_cubic
3
relativity
.false.
Number of shells - 1s 2s
3
spin
.false.
List of shells: n l occupation
1 0 2.0d0
2 0 2d0
2 1 2d0
