Z Rmax Nrad version_4-HF_5-libxc_6-built-in_7-PBE0_8-Range_Sep_test
4 1d-5 15d0 120 4 
Exchange-id Correlation-id (version 5 (libxc id), version  6 0-None,1-LDA,2-PBE) 
428 0
Grid 0-equidistant 1-cubic 2-exponential
1
Number of shells - 1s 2s
2
List of shells: n l occupation
1 0 2.0d0
2 0 2.0d0
