Z Rmax Nrad Version
10d0 1d-5 18d0 200 5 
Exchange-id Correlation-id (version 5 (libxc id), version  6 0-None,1-LDA,2-PBE)
101 130
Grid 0-equidistant 1-cubic 2-exponential
1
Number of shells - 1s 2s 2p
3
List of shells: n l occupation
1 0 2.0d0
2 0 2.0d0
2 1 6.0d0
