Z Rmin Rmax Ngrid version
30d0 1d-6 20d0 1000 1 
xc_id(libxc_id or -1(LDA) -2(PBE))  weigth number_of_parameters
0 0d0 0
0 0d0 0
0 0d0 0
Non-local exchange:
.true.         (true to override hybrid libxc functional parameters)
1d0            (HF weigth)
0d0 0.11d0     (SR HF weigth and parameter)
Grid 0-equidistant 1-cubic 2-exponential 3-advanced_cubic
3
Number of shells - 1s 2s 2p 3s
7
List of shells: n l occupation
1 0 2.0d0
2 0 2.0d0
3 0 2.0d0
4 0 2.0d0
2 1 6.0d0
3 1 6.0d0
3 2 10.0d0
